modules = ["nodejs-20", "web"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Start Development Server"

[[workflows.workflow]]
name = "Start Development Server"
author = 44407998
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx expo start --web --port 5000 --host 0.0.0.0"
